body{
    background: rgb(115,230,217);
    background: linear-gradient(60deg, rgba(115,230,217,1) 27%, rgba(228,214,242,1) 60%);
}

h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
}

p {
  text-indent: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-style: italic;
  line-height: 1.5;
  position: relative;
}

p::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
}
img, a{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}
img{
    display: block;
    width: 256px;
}
a{
    display: block;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}